<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
      
        <section id="checkout" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Checkout</label>
            <tab>sales</tab>
    <resource>Magento_Checkout::checkout</resource>            
    <group id="state_filter" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
          <label>Allowed US States in Checkout</label>               
          <field id="us_state_filter" translate="label" type="multiselect" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Allowed US States in Checkout</label>
                    <source_model>Nits\StateRestriction\Model\ConfigRegion\RegionInformationProvider</source_model>
                </field>
                   <!-- <field id="Moduleposition" translate="label" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
        <Module>Module Position</Module>
                    <source_model>Nits\StateRestriction\Model\ConfigRegion\RegionInformationProvider</source_model>
    </field> -->
            </group>
        </section>
    </system>
</config>